


<form method="post"  action="{% url 'rdm-form-delete' id_field riverdischarge_monthly.pk %}">
          {% csrf_token %}
          <div class="modal-body">
              <p class="delete-text">Are you sure you want to delete this rdm with monthly_total_discharge
              <strong>{{riverdischarge_monthly.monthly_total_discharge}}</strong>?</p>
          </div>

          <div class="modal-footer">
            <input type="submit" class="delete-btn btn btn-danger" value="delete"/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>