


<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">
  <div class="">
    obs_datetime:
    {{ riverdischarge_daily.obs_datetime }}
  </div>
  <div class="">
    rc_id:
    {{ riverdischarge_daily.rc_id }}
  </div>
  <div class="">
    stage_m:
    {{ riverdischarge_daily.stage_m  }}
    €
  </div>
  <div class="">
    discharge_m3_sec:
    {{ riverdischarge_daily.discharge_m3_sec  }}
  </div>
  <div class="">
    Tmeas_methodype:
    {{ riverdischarge_daily.meas_method  }}
  </div>
  <div class="">
    data_source:
    {{ riverdischarge_daily.data_source  }}
  </div>
    <div class="">
    other_source:
    {{ riverdischarge_daily.other_source }}
  </div>
    <div class="">
    remarks:
    {{ riverdischarge_daily.remarks}}
  </div>

</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>