


<form method="post"  action="{% url 'pump-form-delete' waterpoint_id pumping.pk %}">
          {% csrf_token %}
          <div class="modal-body">
              <p class="delete-text">Are you sure you want to delete this pumping with pmp_pumpdepth
              <strong>{{pumping.pmp_pumpdepth}}</strong>?</p>
          </div>

          <div class="modal-footer">
            <input type="submit" class="delete-btn btn btn-danger" value="delete"/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>