

@font-face{
font-family: 'Tajawal';
src:url('../fonts/Tajawal-Regular.tiff') format("truetype"),local('Tajawal');
}
html,body{
text-align:left;
direction:ltr;
}

body{
font-family: 'Tajawal', sans-serif;
}
.dropdown-menu .dropdown-item{
text-align:right;
}

