{% extends 'observe/base.html'%}
{%load static%}
{%load leaflet_tags%}
{% leaflet_js%}
{% leaflet_css%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'observe/particial.html'%}

<div class="row">


    <div class="col col-md-5">

        <!--        <a class="btn btn-primary" href="{% url 'import'%}">import data</a>-->

        <div class="card ">
            <p class="card-header  text-center p-3" style="background-color:yellow;"><strong >Importing Readings Related by Deffirent points</strong>
                 </p>
            <div class="card-body">

                <div class="row" style="background-color:#eee; margin:2px;padding:7px;">
                    <p class="card-text"><strong>riverdischarge_anual:</strong>
                        <a class="btn btn-warning"
                       href="http://wric.local/admin/observe/riverdischarge_anual/">riverdischarge_anual</a>
                    </p>
                </div>


                 <div class="row" style="background-color:#eee; margin:2px;padding:7px;">
                     <p class="card-text"><strong>riverdischarge_monthly: </strong><a class="btn btn-warning"
                      href="http://wric.local/admin/observe/riverdischarge_monthly/">riverdischarge_monthly</a>
                    </p>
                </div>


                  <div class="row" style="background-color:#eee; margin:2px;padding:7px;">
                    <p class="card-text"><strong>riverdischarge_daily :</strong> <a class="btn btn-warning"
                      href="http://wric.local/admin/observe/riverdischarge_daily/">riverdischarge_daily</a>
                    </p>
                </div>


                <div class="row" style="background-color:#eee; margin:2px;padding:7px;">
                    <p class="card-text"><strong>riverflowmeasure  :</strong> <a class="btn btn-warning"
                     href="http://wric.local/admin/observe/riverflowmeasure/">riverflowmeasure</a>
                    </p>
                </div>


                <div class="row" style="background-color:#eee; margin:2px;padding:7px;">
                    <p class="card-text"><strong>surface_hq  :</strong> <a class="btn btn-warning"
                     href="http://wric.local/admin/observe/surface_hq/">surface_hq</a>
                    </p>
                </div>



                <div class="row" style="background-color:#eee; margin:2px;padding:6px;">
                    <p class="card-text"><strong>discharge_survey : </strong><a class="btn btn-warning"
                     href="http://wric.local/admin/observe/discharge_survey/">discharge_survey</a>
                    </p>
                </div>


                <div class="row" style="background-color:#eee; margin:2px;padding:6px;">
                    <p class="card-text"><strong>sectionareasurvey :</strong> <a class="btn btn-warning"
                       href="http://wric.local/admin/observe/sectionareasurvey/">sectionareasurvey</a>
                    </p>
                </div>


                <div class="row" style="background-color:#eee; margin:2px;padding:6px;">
                    <p class="card-text"><strong>sectiondata : </strong><a class="btn btn-warning"
                   href="http://wric.local/admin/observe/sectiondata/">sectiondata</a></p>
                </div>


            </div>


        </div>
    </div>

    <div class="col col-md-7">
        <div class="col col-md-12">
            <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>

            <script type="text/javascript">
          var map_XY_Rivers = {{map_XY_Rivers|safe}};
           function getspringfunction(id_field){
                  if(id_field.includes('BA'))
                  {return 'red';}
                  else if(id_field.includes('CB'))
                  {return 'green';}
                  else if(id_field.includes('DK'))
                  {return 'blue';}
                  else if(id_field.includes('EU'))
                  {return 'orange';}
                  else if(id_field.includes('OR'))
                  {return 'pink';}
                  else if(id_field.includes('ST'))
                  {return 'yellow';}
                  else
                  {return 'black';}

           }
     function our_layer(map,options){

               var datasets = new L.GeoJSON(map_XY_Rivers,
                {
                 pointToLayer: function (feature, latlng) {
                 var geojsonMarkerOptions = {
                radius: 5,
                fillColor: getspringfunction(feature.properties.pk),
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
                        return L.circleMarker(latlng, geojsonMarkerOptions);

                    },
                     onEachFeature: function(feature,url){
                    popupOptions = {maxWidth:250};
                    url.bindPopup("<b>ID Field:</b>" +feature.properties.pk.toString()
<!--                    +-->
<!--                     "<br/><b>Montika:</b>"+feature.properties.montika.toString()+-->
<!--                     "<br/><b>mohafaza:</b>"+feature.properties.mohafaza.toString()+-->
<!--                     "<br/><b>nahia:</b>"+feature.properties.nahia.toString()+-->
<!--                     "<br/><b>village:</b>"+feature.properties.village.toString()+-->
<!--                      "<br/><b>sub_baisn:</b>"+feature.properties.sub_baisn.toString()-->
                     ,popupOptions);
       }
    },


    );
      datasets.addTo(map);
      var legend = L.control({position:'bottomright'});
      legend.onAdd = function(map){
      var div = L.DomUtil.create('div','legend');
     var label = ["Metologys with chart BA" ,"Metologys with chart CB","Metologys with chart DK" ,
      "Metologys with chart EU","Metologys with chart OR" ,"Metologys with chart ST","Metologys with chart YK"];
      var grades = ['BA','CB','DK','EU','OR','ST','other'];
      div.innerHTML = '<div><b>legend</b></div>';
      for(i=0 ;i<grades.length;i++)
      {
      div.innerHTML+= '<i style="background:'+getspringfunction(grades[i])+'">&nbsp;&nbsp;</i>&nbsp;&nbsp;'+label[i]+'</br>';

      }
      return div;
      }
      legend.addTo(map);
               }



            </script>
            <div style="background-color:#ecba43;">
                <h2 class="p-2 mb-0 mt-1" style="display:inline-block;">River Points Map</h2>

            </div>
            {% leaflet_map "gis" callback='window.our_layer' %}
        </div>
    </div>

</div>
<br/>

{% endblock content%}
