{% extends 'observe/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row">
    <div class="container">
        <div class="col col-md-3"></div>
        <div class="col col-md-9">
            <h1>Insert Or Update Reading</h1>
            <br/>
<div class="border p-2 m-2 ">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">

            <div class="col col-md-4">{{form.date| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.temperature_c| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.do_mg_l| as_crispy_field}}</div>
        </div>
        <div class="row">
           <div class="col col-md-4">{{form.ph| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.do_per_cent| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.cond_ms_cm| as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col col-md-4">{{form.turbidity_ntu| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.smell| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.color| as_crispy_field}}</div>
        </div>
       <div class="row">
            <div class="col col-md-4">{{form.taste| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.flow_rate| as_crispy_field}}</div>
            <div class="col col-md-4">{{form.redox| as_crispy_field}}</div>
        </div>
<div class="row">
    <div class="col col-md-8">
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"> </i> Submit</button>
    </div>
    <div class="col col-md-4">
        <a href="{% url 'fieldparameter-list' watersampling_id=watersampling_id  %}" class="btn btn-warning btn-block btn-lg"><i class="fas fa-stream"> </i> Back</a>
    </div>
</div>



    </form>
</div>

        </div>
    </div>

</div>
{% endblock content%}
