
{% extends 'observe/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load leaflet_tags %}
{% block content %}

<div class="border border-primary mt-2 mb-2 p-2 " >
<div id="accordion" class=" border-primary pb-2 mb-2 pt-2 mt-2 ">
  <div class="card border-warning mt-3 mb-3 p-3">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center bold" >
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Hydrochemical
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

        <div class="card-body">
        <div class="border m-3 p-3">
      <h2 class="text-center p-2" style="background-color:#83ccf4;"> Hydrochemical</h2>

        <table id="eutrophication2" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>

                    <th class="th-sm">date
                  </th>
                    <th class="th-sm">hard_total_mg_l
                  </th>
                    <th class="th-sm">hard_lime_mg_l
                  </th>
                   <th>show</th>

                    <th class="th-sm">Edit
                  </th>
                    <th class="th-sm">Delete
                  </th>

            </tr>
           </thead>
          <tbody>
        {% for hydrochemical in hydrochemicals.all %}
            <tr>

               <td>{{hydrochemical.date}}</td>
               <td>{{hydrochemical.hard_total_mg_l}}</td>
               <td>{{hydrochemical.hard_lime_mg_l}}</td>



              <td>
          <button type="button" class=" btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal2-{{watersampling_id}}-{{hydrochemical.pk}}">
                                  <span class="fa fa-eye"></span>
                                </button>
        <div class="modal fade" id="myModal2-{{watersampling_id}}-{{hydrochemical.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
            <h3 class="modal-title">hydrochemical Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  {% include 'observe/water/read_hydrochemical.html'%}
            </div>
          </div>
        </div>

              </td>

              <td>
                      <a type="button" class="btn btn-sm btn-warning" href="{%url 'hydrochemical-form-update'  watersampling_id hydrochemical.pk %}">
                                  <span class="fa fa-edit"></span>
                       </a>

              </td>
              <td>
                <button type="button" class="delete-rdd btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal-{{watersampling_id}}-{{hydrochemical.pk}}">
                                  <span class="fa fa-trash"></span></button>

                <div class="modal fade" id="myModal-{{watersampling_id}}-{{hydrochemical.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
            <h3 class="modal-title">Delete Hydrochemical</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
                {% include 'observe/water/delete_hydrochemical.html'%}
            </div>
          </div>
        </div>

            </td>


            </tr>


        {% empty %}
        {% endfor %}
          </tbody>

          <tfoot>
            <tr>

                <th class="th-sm">date
                  </th>
                    <th class="th-sm">hard_total_mg_l
                  </th>
                    <th class="th-sm">hard_lime_mg_l
                  </th>

                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>


            </tr>
          </tfoot>
        </table>


</div>


        <div class="row m-2 ">

<div class="col col-md-6"> <a type="button" class=" btn  btn-warning btn-lg" href="{% url 'watersample-list' waterstation_id %}">
                          <i class="fa fa-backward"></i> Back To Pumping Stations</a></div>
<div class="col col-md-6"> <a type="button" class=" btn  btn-primary btn-lg" href="{% url 'hydrochemical-form-insert' watersampling_id  %}">
                          <span class="fa fa-plus"></span> ADD New Reading</a></div>

        </div>




    </div>
  </div>
    </div>
    </div>
    </div>

{% endblock content %}
