
<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">


  <div class="">
    date:
    {{ heavymetals_rareelement.date }}
  </div>

   <div class="">
    Cd:
    {{ heavymetals_rareelement.Cd }}
  </div>
  <div class="">
    Pb:
    {{ heavymetals_rareelement.Pb  }}

  </div>
  <div class="">
    Cu:
    {{ heavymetals_rareelement.Cu  }}
  </div>

<div class="">
    Cr:
    {{ heavymetals_rareelement.Cr  }}
  </div>
<div class="">
    Ni:
    {{ heavymetals_rareelement.Ni }}
  </div>

   <div class="">
    Mn:
    {{ heavymetals_rareelement.Mn }}
  </div>
  <div class="">
    Fe:
    {{ heavymetals_rareelement.Fe  }}

  </div>
  <div class="">
    Al:
    {{ heavymetals_rareelement.Al  }}
  </div>

<div class="">
    Zn:
    {{ heavymetals_rareelement.Zn  }}
  </div>
<div class="">
    AS:
    {{ heavymetals_rareelement.AS }}
  </div>

   <div class="">
    Be:
    {{ heavymetals_rareelement.Be }}
  </div>
  <div class="">
    cn:
    {{ heavymetals_rareelement.cn  }}

  </div>
  <div class="">
    Li:
    {{ heavymetals_rareelement.Li  }}
  </div>

<div class="">
    Hg:
    {{ heavymetals_rareelement.Hg  }}
  </div>
<div class="">
    Mo:
    {{ heavymetals_rareelement.Mo }}
  </div>

   <div class="">
    Se:
    {{ heavymetals_rareelement.Se }}
  </div>
  <div class="">
    Ba:
    {{ heavymetals_rareelement.Ba  }}

  </div>
           <div class="">
    Ag:
    {{ heavymetals_rareelement.Ag }}
  </div>
  <div class="">
    units:
    {{ heavymetals_rareelement.units  }}

  </div>
  <div class="">
    remarks:
    {{ heavymetals_rareelement.remarks  }}
  </div>


</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>