
<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">


  <div class="">
    date:
    {{ eutrophication2.date }}
  </div>

   <div class="">
    bod_mg_l:
    {{ eutrophication2.bod_mg_l }}
  </div>
  <div class="">
    cod_mg_l:
    {{ eutrophication2.cod_mg_l  }}

  </div>
  <div class="">
    do_mg_l:
    {{ eutrophication2.do_mg_l  }}
  </div>

<div class="">
    ss:
    {{ eutrophication2.ss  }}
  </div>
<div class="">
    ph:
    {{ eutrophication2.ph }}
  </div>

   <div class="">
    ec:
    {{ eutrophication2.ec }}
  </div>
  <div class="">
    alkalinity:
    {{ eutrophication2.alkalinity  }}

  </div>
  <div class="">
    nh3_mg_l:
    {{ eutrophication2.nh3_mg_l  }}
  </div>

<div class="">
    nh4_mg_l:
    {{ eutrophication2.nh4_mg_l  }}
  </div>
<div class="">
    po4:
    {{ eutrophication2.po4 }}
  </div>

   <div class="">
    no2:
    {{ eutrophication2.no2 }}
  </div>
  <div class="">
    oil:
    {{ eutrophication2.oil  }}

  </div>
  <div class="">
    t_n:
    {{ eutrophication2.t_n  }}
  </div>

<div class="">
    t_p:
    {{ eutrophication2.t_p  }}
  </div>
<div class="">
    toc:
    {{ eutrophication2.toc }}
  </div>

   <div class="">
    si:
    {{ eutrophication2.si }}
  </div>
  <div class="">
    h2s:
    {{ eutrophication2.h2s  }}

  </div>
  <div class="">
    remarks:
    {{ eutrophication2.remarks  }}
  </div>


</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>