
<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">


  <div class="">
    date:
    {{ hydrochemical.date }}
  </div>

   <div class="">
    hard_total_mg_l:
    {{ hydrochemical.hard_total_mg_l }}
  </div>
  <div class="">
    hard_lime_mg_l:
    {{ hydrochemical.hard_lime_mg_l  }}

  </div>
  <div class="">
    hard_mag_mg_l:
    {{ hydrochemical.hard_mag_mg_l  }}
  </div>

<div class="">
    tds_mg_l:
    {{ hydrochemical.tds_mg_l  }}
  </div>
<div class="">
    ca_mg_l:
    {{ hydrochemical.ca_mg_l }}
  </div>

   <div class="">
    mg_mg_l:
    {{ hydrochemical.mg_mg_l }}
  </div>
  <div class="">
    na_mg_l:
    {{ hydrochemical.na_mg_l  }}

  </div>
  <div class="">
    k_mg_l:
    {{ hydrochemical.k_mg_l  }}
  </div>

<div class="">
    so4_mg_l:
    {{ hydrochemical.so4_mg_l  }}
  </div>
<div class="">
    free_cl_mg_l:
    {{ hydrochemical.free_cl_mg_l }}
  </div>

   <div class="">
    cl_mg_l:
    {{ hydrochemical.cl_mg_l }}
  </div>
  <div class="">
    hco3_mg_l:
    {{ hydrochemical.hco3_mg_l  }}

  </div>
  <div class="">
    co3_mg_l:
    {{ hydrochemical.co3_mg_l  }}
  </div>

<div class="">
    o18_mg_l:
    {{ hydrochemical.o18_mg_l  }}
  </div>
<div class="">
    h2_mg_l:
    {{ hydrochemical.h2_mg_l }}
  </div>

   <div class="">
    he_mg_l:
    {{ hydrochemical.he_mg_l }}
  </div>
  <div class="">
    h3_mg_l:
    {{ hydrochemical.h3_mg_l  }}

  </div>
  <div class="">
    c14_mg_l:
    {{ hydrochemical.c14_mg_l  }}
  </div>

<div class="">
    ra_mg_l:
    {{ hydrochemical.ra_mg_l  }}

  </div>
  <div class="">
    estemated_waterage:
    {{ hydrochemical.estemated_waterage  }}
  </div>
</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>