


<form method="post"  action="{% url 'eutrophication2-form-delete' watersampling_id eutrophication2.pk %}">
          {% csrf_token %}
          <div class="modal-body">
              <p class="delete-text">Are you sure you want to delete this eutrophication2 with bod_mg_l
              <strong>{{eutrophication2.bod_mg_l}}</strong>?</p>
          </div>

          <div class="modal-footer">
            <input type="submit" class="delete-btn btn btn-danger" value="delete"/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>