


<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">
  <div class="">

    obs_date:
    {{ evaporation_monthly.obs_date }}
  </div>
  <div class="">
    monthly_avg:
    {{ evaporation_monthly.monthly_avg }}
  </div>
  <div class="">
    meas_method:
    {{ evaporation_monthly.meas_method  }}
    €
  </div>
  <div class="">
    data_source:
    {{ evaporation_monthly.data_source  }}
  </div>
  <div class="">
    other_source:
    {{ evaporation_monthly.other_source  }}
  </div>

    <div class="">
    remarks:
    {{ evaporation_monthly.remarks}}
  </div>

</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>