

<form method="post"  action="">
          {% csrf_token %}
  <div class="modal-body">

  <div class="">
    obs_datetime:
    {{ temperature_monthly.obs_datetime }}
  </div>
  <div class="">
    monthly_avg:
    {{ temperature_monthly.monthly_avg }}
  </div>
    <div class="">
    monthly_max:
    {{ temperature_monthly.monthly_max  }}
    €
  </div>

<div class="">
    monthly_min:
    {{ temperature_monthly.monthly_min }}
  </div>
  <div class="">
    meas_method:
    {{ temperature_monthly.meas_method }}
  </div>
    <div class="">
    avg_temp_from_daily:
    {{ temperature_monthly.avg_temp_from_daily  }}
    €
  </div>
      <div class="">
    remarks:
    {{ temperature_monthly.remarks  }}
    €
  </div>
</div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>