

<form method="post"  action="">
          {% csrf_token %}
       <div class="modal-body">
  <div class="">
    obs_datetime:
    {{ springdischarge_monthly.obs_datetime }}
  </div>
  <div class="">
    monthly_avg_discharge:
    {{ springdischarge_monthly.monthly_avg_discharge }}
  </div>
  <div class="">
    monthly_total:
    {{ springdischarge_monthly.monthly_total  }}

  </div>

  <div class="">
    meas_method:
    {{ springdischarge_monthly.meas_method  }}
  </div>
     <div class="">
    data_source:
    {{ springdischarge_monthly.data_source  }}
  </div>
         <div class="">
    other_source:
    {{ springdischarge_monthly.other_source  }}
  </div>

    <div class="">
    remarks:
    {{ springdischarge_monthly.remarks}}
  </div>

</div>

          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

   </form>